.HomePageWrapper {
    padding: 40px 40px;
    background-image: url('../../public/my-profile-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.HomePageContainer {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.HomePageContainer .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.loginLink, .registerLink {
    font-size: 16px;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #000000;
    padding: 8px 40px;
    border-radius: 0px;
    border: none;
    text-decoration: none;
}

.loginLink:hover, .registerLink:hover {
    background-color: #333333;
}
